.page2 {
    color: black;
    font-size: 12px;
}

.title {
    display: flex;
    flex: 1;
}

.page2 button {
    background-color: #D48E16;
    width: 150px;
    height: 45px;
    border-radius: 25px;
}
.page2 button:hover {
    background-color: #BA7D14;
}