
.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    font-size: 22px;
}

.input-form input {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    background-color: #87A5B5;
    text-align: center;
    font-size: 18px;
    border-color: transparent;
}

.input-form button {
    width: 250px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

